<div id="uploaded_status">
  <div id="uploaded_count"></div>
  <div id="uploaded_errors"></div>
</div>
<div id="uploaded_list">
</div>
<div id="upload_form">
  <input id="photo_attachments" type="file" multiple="multiple" />
  <input id="photo_group" type="text" placeholder="Group" />
  <button id="upload_photos">Upload</button>
</div>
