#header {
  #user_info {
    position: absolute;
    top: 5px;
    right: 10px;
  }
}

#track_form {
  .field_with_errors {
    display: inline;
  }
  input[type='text'] {
    width: 140px;
  }
}
#tracks {

  #track_list {
    table {
      margin-left: 20px;
      td {
        padding: 0 10px;
      }
      td.action * {
        visibility: hidden;
      }
      tr:hover td.action * {
        visibility: visible;
      }
    }
  }

  #tag_list {
    float: left;
    width: 250px;
    margin-right: 20px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        padding: 5px;
        &.active {
          background: #eee;
        }
        small {
          float: right;
          line-height: 20px;
        }
      }
    }
  }
}
