body {
  color: #626262;
  font-family: 'Helvetica Neue', Helvetica, Arial Geneva, sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: #477DAF;
}

#header {
  padding: 5px 24px;
  border-bottom: 4px solid #E5E5E5;
  overflow: hidden;
  #menu {
    .menu_item {
      float: left;
      padding: 0 20px;
      font-weight: bold;
    }
  }
  #user_info {
    float: right;
  }
}

#content {
  padding: 0 24px;
}

#track_form {
  .field_with_errors {
    display: inline;
  }
  input[type='text'] {
    width: 140px;
  }
}
#tracks {
  clear: both;
  overflow: hidden;
  #tag_list {
    float: left;
    max-width: 300px;
    margin-right: 20px;
    .tag {
      padding: 5px 10px;
      &.active {
        padding-left: 6px;
        border-left: 4px solid #E5E5E5;
        font-weight: bold;
      }
      small {
        float: right;
        margin-left: 20px;
      }
    }
  }

  #track_list {
    table {
      border-collapse: collapse;
      margin-left: 20px;

      td, th {
        padding: 5px 10px;
        border-bottom: 1px solid #E5E5E5;
      }
      td.distance {
        text-align: right;
        white-space: nowrap;
      }
      td.track_date {
        white-space: nowrap;
      }
      td.action a {
        margin-left: 5px;
      }
      td.action * {
        visibility: hidden;
      }
      tr:hover td.action * {
        visibility: visible;
      }
    }
  }
}
