body {
  color: #626262;
  font-family: 'Helvetica Neue', Helvetica, Arial Geneva, sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: #477DAF;
}

#header {
  padding: 5px 24px;
  border-bottom: 4px solid #E5E5E5;
  overflow: hidden;
  #menu {
    .menu_item {
      float: left;
      padding: 0 20px;
      font-weight: bold;
    }
  }
  #user_info {
    float: right;
  }
}

#content {
  padding: 0 24px;
}

#track_form {
  .field_with_errors {
    display: inline;
  }
  input[type='text'] {
    width: 140px;
  }
}
#tracks {
  clear: both;
  overflow: hidden;
  #tag_list {
    float: left;
    max-width: 300px;
    margin-right: 20px;
    .tag {
      padding: 5px 10px;
      &.active {
        padding-left: 6px;
        border-left: 4px solid #E5E5E5;
        font-weight: bold;
      }
      small {
        float: right;
        margin-left: 20px;
      }
    }
  }

  #track_list {
    table {
      border-collapse: collapse;
      margin-left: 20px;

      td, th {
        padding: 5px 10px;
        border-bottom: 1px solid #E5E5E5;
      }
      td.distance {
        text-align: right;
        white-space: nowrap;
      }
      td.track_date {
        white-space: nowrap;
      }
      td.action a {
        margin-left: 5px;
      }
      td.action * {
        visibility: hidden;
      }
      tr:hover td.action * {
        visibility: visible;
      }
    }
  }
}

#photos {
  margin-top: 1em;
  clear: both;
  overflow: hidden;
  #tag_list {
    float: left;
    width: 160px;
    margin-right: 20px;
    .tag {
      padding: 5px 10px;
      &.active {
        padding-left: 6px;
        border-left: 4px solid #E5E5E5;
        font-weight: bold;
      }
      small {
        float: right;
        margin-left: 20px;
      }
    }
  }

  #photo_list {
    overflow: hidden;
    .photo {
      float: left;
      overflow: hidden;
      margin: 0 5px 5px 0;
      width: 75px;
      height: 75px;
    }
  }
}

.partition {
  margin: 0 0 0 2em;
}

#uploaded_errors {
  div {
    margin: 0.2em;
    color: red;
  }
}
#uploaded_count {
  margin: 0.2em;
}
#uploaded_list {
  overflow: hidden;
  .thumb {
    float: left;
    width: 75px;
    height: 75px;
    margin: 0 5px 5px 0;
    overflow: hidden;
    &.load {
      background: transparent url('/assets/ajax-loader.gif') no-repeat center center;
    }
    &.error {
      width: 73px;
      height: 73px;
      font-size: 10px;
      color: red;
      vertical-align: middle;
      line-height: 73px;
      text-align: center;
      border: 1px solid black;
    }
  }
}