#info {
  float: right;
  width: 200px;
  margin-top: 10px;
  overflow: hidden;

  #track_statistic {
    width: 100%;
    border-collapse: collapse;
    th {
      div {
        width: 130px;
        overflow: hidden;
        white-space: nowrap;
      }
      text-align: left;
      font-weight: normal;
    }
    th.divider {
      text-align: center;
    }
    td {
      text-align: right;
    }
    th, td {
      border-bottom: 1px solid #E5E5E5;
    }
  }
}

#maps .map {
  margin-bottom: 10px;
  .olControlLayerSwitcher {
    top: 0;
  }
}

#cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #FFF url('/assets/loading.gif') no-repeat 50% 50%;
  z-index: 1001;
}

#pointInfo {
  height: 30px;
  font-size: 12px;
  td > div {
    width: 100px;
  }
  #time {
    width: 300px;
  }
}

#elevation {
  #elevationGraph {
    #canvasTemplateElement {
      display: none;
    }
    overflow-x: auto;
    &.dragging {
      cursor: move; //url("http://maps.gstatic.com/mapfiles/openhand_8_8.cur"), default;
    }
  }
  #elevationControls {
    width: 30px;
    float: left;
    button {
      width: 30px;
    }
  }
}

