#info {
  float: right;
  width: 250px;
  margin-left: -260px;
  overflow: hidden;
  font-size: 12px;

  #track_statistic {
    width: 100%;
    border-collapse: collapse;
    th {
      text-align: left;
    }
    td {
      text-align: right;
    }
    th, td {
      white-space: nowrap;
      border: 1px solid black;
    }
  }
}

#gmap {
  margin-right: 260px;
  height: 570px;
}
