#info {
  float: right;
  width: 250px;
  margin-left: -260px;
  margin-top: 30px;
  overflow: hidden;
  font-size: 12px;

  #track_statistic {
    width: 100%;
    border-collapse: collapse;
    th {
      text-align: left;
    }
    th.divider {
      text-align: center;
    }
    td {
      text-align: right;
    }
    th, td {
      white-space: nowrap;
      border: 1px solid black;
    }
  }
}

#maps .map {
  margin-right: 260px;
  margin-bottom: 10px;
}

#cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #FFF url('/assets/loading.gif') no-repeat 50% 50%;
  z-index: 1001;
}

#pointInfo {
  height: 30px;
  font-size: 12px;
  td > div {
    width: 100px;
  }
  #time {
    width: 300px;
  }
}

#elevation {
  #elevationGraph {
    overflow-x: auto;
    &.dragging canvas {
      cursor: url("http://maps.gstatic.com/mapfiles/openhand_8_8.cur"), default;
    }
  }
  #elevationControls {
    width: 30px;
    float: left;
    button {
      width: 30px;
    }
  }
}

